# Base de datos
DATABASE_URL=postgresql://pathar_user:pathar_password@localhost:5432/pathar_db

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Google OAuth
GOOGLE_CLIENT_ID=548641311516-bf4bo0qd7qd7lh3rkijoj0tpaig2rnmf.apps.googleusercontent.com
